@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
    font-family: 'Lato', sans-serif;
}

.wrapper{
    border: 1px solid grey;
}
  
.editor{
    background-color: lavender;
}
  

@layer components {
    .topnav {
        /* font-family: 'Quicksand', sans-serif; */
        font-family: 'Cutive Mono', monospace;
    }
    .topnav-icons {
        @apply text-white md:text-xl text-base mr-2 
    }

    .topnav-content {
        @apply text-yellow-100 
    }

    .btn-link {
        @apply md:mt-8 mt-2 no-underline hover:no-underline capitalize px-4 py-3 rounded-md border border-cyan-600 hover:border-none hover:bg-cyan-600 duration-300 bg-gray-100 text-cyan-800 hover:text-white  
    }

    .section-title {
        @apply font-medium uppercase text-gray-700 md:text-2xl text-lg md:mb-16 mb-8
    }

    .sub-title {
        @apply font-bold text-gray-700 md:text-3xl text-xl
    }

    .content-title {
        @apply md:text-2xl text-xl md:mb-6 mb-4 font-semibold capitalize text-gray-700
    }

    .btns {
        @apply  px-3 py-1 rounded-md bg-gradient-to-r from-cyan-500 to-cyan-700 border-none text-white duration-500 hover:translate-x-1 hover:scale-105 
      }

    .input {
        @apply py-3 px-2 bg-white rounded-lg w-full focus-within:border-cyan-400 outline-none
    }
    
    .label {
        @apply my-2
    }

    .list-container {
        @apply md:mx-0 md:my-16 m-4 md:gap-16 gap-8 grid md:grid-cols-3
    }

    .card {
        @apply rounded-xl shadow-md
    }

    .card-content {
        @apply md:p-4 p-3 
    }

    .card-title {
        @apply font-semibold text-gray-700 hover:text-cyan-700
    }

    .card-description {
        @apply text-gray-500 font-medium
    }

    .card-image {
        @apply rounded-t-xl
    }
}
